/* body {
  background-color: black;
} */

#searchbar{
  margin-left: 2%;
  padding:5px;
  border-radius: 5px;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
    change its width to 100% */
input[type=text]:focus {
  width: 70%;
}

.head {
  display: inline-block;
  /* width: 28%; */
  padding: 2% 2% 1% 2%;
  position:relative;
  left:auto;
  right:auto;
}

.deaths{
  color: red;
}

.data {
  border-style: solid;
  padding: 2% 2% 2% 2%;
  margin:2% 2% 2% 2%;
  width: 23%;
  display: inline-block;
}

.title {
  margin:2% 2% 1% 2%;
}

#getData {
  margin-left: 2%;
}
