* {
  font-family: perpetua titling mt,Georgia,times new roman,Times,serif;
}
  /* font-family: Karla,Helvetica,Arial,sans-serif; */

body {
  background-color: #ebeded;
}

#searchbar{
  margin-left: 2%;
  padding:5px;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
}
#canvasContainer {
  display: inline-block;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
    change its width to 100% */
input[type=text]:focus {
  width: 40%;
}

.head {
  display: inline-block;
  /* width: 28%; */
  padding: 2% 2% 1% 2%;
  position:relative;
  left:auto;
  right:auto;
  font-size: 20px;
}

.deaths{
  color: red;
}

.data {
  border-style: solid;
  padding: 2% 2% 2% 2%;
  margin:2% 2% 2% 2%;
  width: 23%;
  display: inline-block;
  font-size: 20px;
}

.title {
  margin:2% 2% 1% 2%;
  font-size: 35px;
  color: #e83c38;
}

#getData {
  margin-left: 2%;
  height: 30px;
  border-color: black;
  font-size: 12px;
}

#main {
  color: #e83c38;
  /* height: 800px; */
  vertical-align: top;
}

.top {
  display: inline-block;
}
